@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "MapEvents";
}
@if (SignInManager.IsSignedIn(User))
{
	<div class="container p-3">
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">MapEvents</h2>
			</div>
			<div class="col-6 text-end">
				<a asp-controller="MapEvent" asp-action="Create" class="btn btn-primary">
					Add Event to map
				</a>
			</div>
		</div>
		<br>

		<table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>
						Events Name
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var obj in Model)
				{
					@if (@obj.IdentityUser == User.Identity.Name)
					{
						<tr>
							<td width="40%">
								@obj.Name
							</td>
							<td width="60%">
								<div>
									<a asp-controller="MapEvent" asp-action="Delete" asp-route-name="@obj.Name" class="btn-danger mx-2" style="text-decoration:none">
										<i class="bi bi-trash-fill"></i> Delete
									</a>
								</div>
							</td>

						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h1 class="text-primary">Please Login</h1>
}